.section-title-for-cylinderPage1{
    color: gray;
    font-size: 30px;
    text-align: start;
    margin-top: 100px;
    margin-left: 50px;
}

.section-title-for-cylinderPage2{
    color:#20B2AA;
    font-size: 50px;
    text-align: start;
    margin-left: 50px;
    margin-bottom: 40px;
}

.cylinder-text {
    text-align: start;
    font-size: 20px;
    margin-left: 0;
}

.rowCylinder {
    text-align: start;
    margin-left: 50px;
    margin-bottom: 100px;
}

@media (max-width: 950px) {
  .section-title-for-cylinderPage1 { font-size: 17px; margin-left: 20px; }
  .section-title-for-cylinderPage2 { font-size: 28px; margin-left: 20px; }

  .rowCylinder {
    text-align: start;
    margin-left: 20px; 
    margin-right: 20px;
    margin-bottom: 100px;
  }
}