.header-wrapper {
  background-size: cover;
  background-position: center;
  height: 1000px;
  position: relative;
}

.heading-container {
  position: absolute;
  top: 50%;
  left: 49%;
  transform: translate(-80%, -50%);
  text-align: start;
  z-index: 1;
}

.heading-container.contact-page {
  top: 45%;
  left: 55%;
}

.heading-container.about-page {
  top: 45%;
  left: 55%;
}

@keyframes slideInFromTop {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.heading {
  font-size: 70px;
  color: black;
  animation: slideInFromTop 1s ease-in-out;
}

.company-icon {
  height: 150px;
  width: auto;
  margin-top: 40px;
  mix-blend-mode: multiply;
}

.navbar.navbar-light.bg-light {
  background-color: transparent !important;
}

.navbar-nav {
  margin-left: auto;   
}

.navbar-nav .nav-link,
.custom-dropdown-toggle {
  position: relative;
  display: inline-block;
  color: black;
  font-weight: bold;
  font-size: large;
}

.header-image {
  width: 100%;
  height: auto;
}

.custom-dropdown-toggle {
  border: none !important;
  background-color: transparent !important;
  color: black !important;
  padding-right: 0 !important;
  outline: none !important;
}

.custom-dropdown-menu {
  margin-top: 5px !important;
}

.custom-dropdown-menu .dropdown-item {
  font-size: 14px !important;
}

.custom-dropdown-toggle:focus {
  box-shadow: none !important;
}

.dropdown-toggle::after {
  display: none !important;
}

.nav-item.active .nav-link:hover {
  color: #20B2AA;
}

.btn-primary:hover {
  color: #20B2AA !important;
}

@media (max-width: 768px) {
  .heading-container {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .heading {
    font-size: 30px;
  }

  .navbar-nav {
    margin-left: 0;
  }

  .navbar-toggler {
    border: none;
    background-color: transparent !important;
  }

  .navbar-collapse {
    position: absolute;
    right: 0;
    top: 60%;
    width: 300px;
    background-color: transparent;
    border-radius: 4px;
  }

  .navbar-nav .nav-link,
  .custom-dropdown-toggle {
    display: block;
    padding: .5rem 1rem;
  }
}
























