.header-wrapper {
  background-size: cover;
  background-position: center;
  height: 800px;
  position: relative;
}

.heading-container {
  position: absolute;
  top: 50%; /* Adjusted to be centered vertically */
  left: 49%;
  transform: translate(-80%, -50%);
  text-align: start;
  z-index: 1;
}

.heading-container.contact-page {
  top: 40%; /* Adjusted for Contact page */
  left: 55%;
}

@keyframes slideInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-140px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.heading {
  font-size: 70px;
  color: black;
  animation: slideInFromTop 1s ease-in-out;
}

.company-icon {
  height: 150px;
  width: auto;
  margin-top: 40px;
  mix-blend-mode: multiply;
}

.navbar.navbar-light.bg-light {
  background-color: transparent !important;
}

.navbar-nav {
  margin-left: auto;   
}

.navbar-nav .nav-link {
  font-weight: bold;
  font-size: 22px;
  color: black;
}

.header-image {
  width: 100%;
  height: auto;
}

