.headingofLargeRepair {
    color:#20B2AA;
    font-size: 50px;
    text-align: start;
    margin-left: 50px;
    margin-bottom: 40px;
    margin-top: 100px;
}

.large-repair {
    text-align: start;
}
  
.contentofRepair {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    margin-left: 50px;
}
  
.text-columnofRepair {
    flex: 1;
    text-align: start;
    margin-right: 20px;
}
  
.image-column {
    flex: 1;
}
  
.image-column img {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 950px) {
    .headingofLargeRepair {
        font-size: 27px;
        margin-left: 20px;
    }

    .contentofRepair {
        flex-direction: column;
        margin-left: 20px;
    }

    .text-columnofRepair,
    .image-column {
        flex: 1;
        margin-right: 20px;
    }

    .image-column {
        margin-right: 20px;
    }
}
  