.headingofMEtraining {
    color:#20B2AA;
    font-size: 50px;
    text-align: start;
    margin-left: 50px;
    margin-bottom: 40px;
    margin-top: 100px;
}

.contentOfMEtraining {
    font-size: 18px;
    margin-left: 50px;
    margin-top: 80px;
}